h1{
  font-size: 65px;
  text-align: center;
  color:#7a5cc3
}

body{
background-color:#d4b3ff;
}

h1{
  font-size: 65px;
  text-align: center;
  color:#7a5cc3
}

h1{
  font-size: 65px;
  text-align: center;
  color:#7a5cc3
}

h2{
  font-size: px;
  text-align: center;
  color:#7a5cc3
}